*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    margin: 10px 10px;
    border: auto;
    background-color: #4359bd;
}
.navitems{
    display: flex;
    justify-content: space-between;
}
.navclass{
    display: flex;
    text-decoration: none;
}