*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: oblique;
}