*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    border: 10px;
    background-color: #4359bd;
}
.navitems{
    display: flex;
    justify-content: space-between;
}
.navclass{
    text-decoration: none;
}